.trump-face {
	position: relative;
	margin: 0 auto;
	height: calc(100vw - 30px);
	width: calc(100vw - 30px);
	max-width: 375px;
	max-height: 375px;
	cursor: pointer;
	background-size: 100% 100%;
	background-image: url('./images/trump1.png');
}
.trump-face-owe {
	background-image: url('./images/owe.jpeg');
}