<div class="upgrades-icon">
  <div class="list-group">
    <div  ng-repeat="upgrade in UpgradeIconCtrl.upgradeIconService.data.upgrades track by $index" 
          ng-if="upgrade.visible"
          class="list-group-item">
      <p>{{upgrade.name}} || {{upgrade.label}}
        <span class="float-xs-right">
          <i class="fa {{upgrade.currencyIcon}}" aria-hidden="true"></i> {{upgrade.count}}
        </span>
      </p>
      <div class="actions">
        <button type="button"
                ng-repeat="powerup in upgrade.powerups track by $index" 
                class="powerup-btn btn"
                ng-class="{
                  'btn-outline-primary' : powerup.enabled && powerup.count === 0,
                  'btn-success' : powerup.count === 1 
                }"
                ng-disabled="!powerup.enabled"
                ng-if="powerup.visible"
                ng-click="UpgradeIconCtrl.upgradeIconService.buyPowerup(powerup.id)">
                {{powerup.label}}
                <p>
                  <i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{powerup.cost}} | 
                  <i class="fa {{upgrade.currencyIcon}}" aria-hidden="true"></i> {{powerup.level}}
                </p>
        </button>
        <button type="button"
                class="btn btn-secondary float-xs-right"
                ng-disabled="!upgrade.enabled"
                ng-click="UpgradeIconCtrl.upgradeIconService.buyUpgrade(upgrade.id)">
              <i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{upgrade.cost}}
        </button>
      </div>
    </div>
  </div>
</div>