.hand-cursor{
	width:100px;
	height:100px;
	position:absolute;
	pointer-events: none;
	background-size:200% 100%;
	transform: rotate(-45deg);
	background-image: url('/home/images/hands.jpg');
}
.back-hand{
	transform: rotate(45deg);
	background-position-x: 100%;
}
